body {

    background-color:#FFC0CB;
}

header{
    padding: 10px;
    background-color:#FF00FF;
    border-bottom: 2px solid black;
    font-size: 20px;
    color:rgb(63, 3, 43);
    display: flex;
    justify-content: space-around;
    
}
.#titulo{
    text-align: center;
    font-size: 30px;
    color: rgb(63, 3, 43);
}
.texto {
    text-align: center;
    color: rgb(188, 10, 108);
    font-size: 20px;
}
.titulo{
    text-align:center;
    color:#C71585 ;
}

